.bookmarks {
  padding: 1rem;
  width: 100%;
  position: relative;
  h4 {
    font-weight: 700;
    margin: 0;
  }
  span {
    font-size: 14px;
		color: rgb(93, 109, 121);
  }
  img {
    width: 400px;
    height: 200px;
  }
  .center {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
		h2 {
			margin-top: 2rem;
			font-weight: 700;
		}
		p {
			color: rgb(93, 109, 121);
			margin: 0;
		}
  }
}
