.navbar {
	padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
	position: sticky;
	top: 0;
	bottom: 3rem;
	height: 85vh;
	padding-right: 1rem;
	border-right: 1px solid #D8D8D8;
  img {
    margin-bottom: 2rem;
  }
  p {
    display: flex;
    align-items: center;
		div {
			border: 2px solid #C4C4C4;
		}
    span {
      margin-left: 1rem;
      font-weight: 600;
      font-size: 18px;
			&:hover {
				font-weight: 800;
			}
    }
  }
  button {
    background-color: #1d9bf0;
    color: #fff;
    padding: 1rem 5rem;
    border-radius: 1.6rem;
    border: none;
    font-size: 18px;
  }
}
