.navbar {
	background-color: #BB2339;
	position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar .ms-auto {
	color: #fff !important;
	align-items: center;
}

.navbar .nav-btn {
	border-radius: 19px;
	background-color: transparent;
	border: 1px white solid;
	padding: 0.6rem 1.6rem;
}